#footer{
    background-color: rgb(15 16 19);
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-header {
    color: #cbf0cb;
}

.menu>a {
    color: grey;
}